<section class="pt-5 pb-5 mt-0 align-items-center d-flex">
  <div class="container-fluid">
    <div class="row  justify-content-center align-items-center d-flex-row h-100">
      <div class="col-12 col-md-4 col-lg-3 h-50 ">
        <div class="card shadow">
<!--          <div class="card-body mx-auto" [formGroup]="login">-->
          <div class="card-body mx-auto">
            <p class="text-center">Login to Advalent</p>
            <small *ngIf="!isUsernamePasswordValid" class="text-danger">Either username or password is not correct</small>
            <form class="pt-2" #f="ngForm">
              <div class="form-group">
                <input name="username" class="form-control" placeholder="Email address / Username" type="text" required [(ngModel)]="username" #userCtrl="ngModel">
                <small *ngIf="userCtrl.touched && userCtrl.errors?.['required']" class="text-danger"> Email/Username is required.</small>
<!--                <small *ngIf="f['username'].touched && f['username'].errors?.['required']" class="text-danger"> Email/Username is required.</small>-->
              </div>
              <div class="form-group">
                <input name="password" class="form-control" placeholder="Input password" type="password" [(ngModel)]="password" required #passwordCtrl="ngModel">
<!--                <small *ngIf="f['password'].touched && f['password'].errors?.['required']" class="text-danger"> Password is required.</small>-->
                <small *ngIf="passwordCtrl.touched && passwordCtrl.errors?.['required']" class="text-danger"> Password is required.</small>
              </div>
              <div class="form-group text-center">
                <button type="submit" class="btn btn-primary btn-block" (click)="onLogin(f)" [disabled]="loading"> Login </button>
              </div>
              <p *ngIf="!loading" class="text-center">Don't Have an account?
                <a routerLink="/signup">Sign Up</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

